{% extends "layout.html" %}
{% block content %}

<nav class="navigation">
    <a href="javascript:Navigation.scrollTo('.hero');" class="active"><span></span></a>
    <a href="javascript:Navigation.scrollTo('.about');"><span></span></a>
    <a href="javascript:Navigation.scrollTo('.project1');"><span></span></a>
</nav>

<div class="mini-navbar">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</div>

<div class="hero" id="hero">

</div>

<div class="about" id="about">

</div>

<div class="test" id="test">

</div>

{% endblock %}