{% extends "layout.html" %}
{% block content %}
<title>{{ title }}</title>

<h1>Samuel Grant Adams</h1>
<p>737.701.0556 |
    samuel.grant.adams@gmail.com |
    https://www.linkedin.com/in/samuelgrantadams
</p>
<h1>Financial Analyst</h1>
<p>Well-motivated, self-driven, and service oriented. Strong analytical,
    quantitative, critical thinking and problem-solving skills.
    Proactive; internal drive to meet goals continuously and successfully. Solid
    grasp of tools for analyzing data. Ability to
    interface and communicate with all levels of staff and management.
    Demonstrated attention to detail, sense of urgency, and
    ability to learn quickly. Able to work within and meet aggressive deadlines
    in a fast paced, changing, high energy
    environment. High integrity. Core competencies:
</p>

<table>
    <tr>
        <td>DCF Modeling</td>
        <td>Equity Research</td>
        <td>Fixed-Income Analysis</td>
    </tr>
    <tr>
        <td>Data Science</td>
        <td>Dev Ops</td>
        <td>Natural Language Processing</td>
    </tr>
    <tr>
        <td>Texas Government Code</td>
        <td>Legislative Procedures</td>
        <td>Public Speaking</td>
    </tr>
</table>

<h2>Education</h2>
<p>Master of Finance, MSQFE; McCoy School of Business; Texas State University 8/2022 – 5/2024</p>
<p>Bachelor of Science, Finance; The University of Texas at Dallas 8/2018 – 1/2021 </p>
<h2>Professional Experience</h2>
<p>Municipal Advisory Council of Texas (M.A.C.) – Austin, Texas</p>
<p>Financial Analyst 4/2022 – 11/2022</p>
<ul class="custom-list">
    <li>Fixed-income, derivatives, and property analysis</li>
    <li>Automated key process from one year to single executable task</li>
    <li>Produced Texas Municipal Reports for public finance municipal market</li>
</ul>
<h2>Community Experience</h2>
<h2>Techinical Skills</h2>
<h2>Professional Designations</h2>

{% endblock %}