<div class="container">
    <div class="picture-grid">
        <div class="large-picture">
            <img class="main-img" src="{{ url_for('static', filename='images/about/austin.jpg') }}" alt="">
        </div>
        <div class="small-pictures">
            <div class="small-picture">
                <img class="main-img" src="{{ url_for('static', filename='images/about/srv.png') }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="scrolling-text">
        I was born and raised in Austin, Texas!
    </div>
</div>