<div class="container">
    <div class="gallery">
        <div class="gallery__item--1">
            <img class="shadow" src="{{ url_for('static', filename='images/about/austin-postcard.png') }}" alt="">
        </div>
        <div class="gallery__item--2">
            <img class="shadow" src="{{ url_for('static', filename='images/about/srv.png') }}" alt="">
        </div>
        <div class="gallery__item--3">
            <img class="shadow" src="{{ url_for('static', filename='images/about/austin.jpg') }}" alt="">
        </div>
    </div>
    <div class="scrolling-text">
        Born and raised in Ausitn, I have a devotion cycling, lifting, and swimming throughout the beatiful backdrop of
        the Texas
        hill country I call home!
    </div>
</div>