<div class="container" style="display: flex; flex-direction: row;">
    <div style="width: 30%;">
        <img src="{{ url_for('static', filename='images/connect/coffee.gif') }}" alt="">
    </div>
    <div style="width: 70%;">
        <div class="main-header">
            Lets Connect!
        </div>
        <div class="scrolling-text">
            Let's build something great together! My diverse skills and strategic approach help turn visions into
            robust, lasting solutions.
         </div>
    </div>
</div>