<div class="container">
    <div class="main-title">Sam Adams</div>
    <div class="main-img-container">
        <img class="main-img"
            src="{{ url_for('static', filename='images/index/pixel-profile-grad-pic.png') }}" alt="">
    </div>    
    <div class="main-header">
        Financial Analyst 🧮
    </div>
    <div class="main-paragraph-text scrolling-text">
        I am a dedicated aspiring quantitative trader with a deep passion for the creative aspects of this field.
        My philosophy centers around the elegant simplicity of value investing, where I specialize in identifying
        hidden
        gems within the market and optimizing returns by capitalizing on the biases of others.
    </div>
</div>