<div class="container" style="display: flex; flex-direction: column;">
    <div class="main-title" style="margin: 0.5% 0;">Sam Adams</div>
    <div class="main-header" style="margin: 0.5% 0;">Financial Engineer 🧮</div>
    <div style="display: flex; flex-direction: row;">
        <div class="pixel-container">
            <img
                class="pixel-image"
                src="{{ url_for('static', filename='images/intro/profile-pixel.jpg') }}">
            <div class="pixel-overlay">
                <img
                    src="{{ url_for('static', filename='images/intro/profile.jpg') }}">
            </div>
        </div>
        <div style="margin: 0 2.5%;">
            <div class="main-paragraph-text scrolling-text">
                I am a devoted aspiring quant with a fervor for uncovering deep
                value and seizing alpha. "An investment in
                knowledge pays the best interest." - Ben Franklin
            </div>
        </div>
    </div>
</div>