@font-face {
    font-family: 'Tickerbit';
    src: url('../fonts/Tickerbit-regular.woff2') format('woff2'),
        url('../fonts/Tickerbit-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tickerbit-Italic';
    src: url('../fonts/Tickerbit-italic.woff2') format('woff2'),
        url('../fonts/Tickerbit-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes flicker {

    0%,
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }

    25% {
        opacity: 0.5;
        transform: translate(25%, 0);
    }

    50% {
        opacity: 0.8;
        transform: translate(50%, 0);
    }

    75% {
        opacity: 0.4;
        transform: translate(75%, 0);
    }
}

*,
*::-moz-selection,
*::selection,
*::-webkit-selection {
    cursor: url("/static/images/cursors/arrow.cur"), default;
    font-family: 'Tickerbit', sans-serif;

}

*::selection {
    background-color: #000;
    color: #fff;
}

.particle {
    position: fixed;
    width: 1px;
    height: 1px;
    background: #d0d0d7;
    opacity: 0;
    animation: flicker 1s infinite;
}

.about {
    box-shadow: 10px 0px 10px #949494;
    margin: 1in;
    opacity: 0;
    padding: 1in;
    transition: opacity 0.5s;
}

.resume {
    background-color: #f2f2f2;
    box-shadow: 10px 0px 10px #949494;
    color: #333;
    font-weight: 400;
    margin: 1in;
    opacity: 0;
    padding: 1in;
    transition: opacity 0.5s;
}

.resume-list {
    list-style-type: none;
    padding-left: 20px;
}

.resume-list li:before {
    content: "\2022";
    font-size: 20px;
    margin-right: 10px;
}

.resume-title {
    font-size: 60px;
    font-weight: 600;
    text-shadow: 2px 0px 2px #949494;
}

.resume-header {
    border-bottom: 5px solid black;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 0px 2px #949494;
}

.resume-sub-header {
    font-size: 20px;
    font-weight: 500;
}


.section {
    align-items: top;
    color: white;
    display: flex;
    opacity: 0;
    transition: opacity 0.5s;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.shadow img {
    margin-bottom: 10px;
    margin-right: 30px;
    transition: .5s ease;
    width: 60px;
}

.shadow img:hover {
    -webkit-transform: translateX(-3px);
    box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737, 5px 5px #373737, 6px 6px #373737;
    transform: translateX(-3px);
    transition: .5s ease;
}

.date-row {
    display: flex;
    justify-content: space-between;
}

.date-row p {
    font-family: 'Tickerbit-Italic', sans-serif;
}

.language-logos {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}

.language-logos img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 10px;
}

.resume-button-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

.main-img-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
}

.main-img {
    width: 100%;
    height: auto;
    border: 10px solid #d0d0d7;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.main-img:hover {
    border-color: #000000;
    box-shadow: 5px 5px 10px #d0d0d7;
}

.main-paragraph {
    width: 50%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.main-header {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5%;
}

.main-paragraph-text {
    font-size: 1.5rem;
}

.main-balance-sheet-table-header {
    width: 100%;
}

.main-balance-sheet-container {
    max-height: 500px;
    width: 100%;
    margin: 5%;
    overflow-y: auto;
}

.main-balance-sheet-table {
    width: 100%;
    border-collapse: collapse;
    background-color: inherit;
    font-size: 0.75rem;
}

.main-balance-sheet-table th {
    background-color: inherit;
    color: #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    text-align: left;
    padding: 10px;
}

.main-balance-sheet-table tr {
    background-color: inherit;
    color: #ffffff;
}

.main-balance-sheet-table tr:hover {
    color: #54aa18;
    text-shadow: 0 0 5px rgba(84, 170, 24, 0.7);
}

.main-balance-sheet-table tr:nth-child(even) {
    background-color: #303030;
}

.main-balance-sheet-table td {
    padding: 1%;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    font-size: 0.75rem;
}