:root {
    /* Colors */
    --black: #000000;
    --computer-green: #54aa18;
    --light-computer-green: #7fff4e;
    --light-grey: #d0d0d7;
    --grey: #d0d0d738;
    --white: #ffffff;

    /* Fonts */
    --header: 5rem;
    --paragraph: 3rem;
    --table-text: 0.75rem;
    --title: 10rem;

    /* Cursors */
    --default-cursor: url("/static/images/cursors/arrow.cur"), default;
    --pointer-cursor: url("/static/images/cursors/link.cur"), pointer;
    --pointer-text: url("/static/images/cursors/text.cur"), text;
}

/* Fonts */
@font-face {
    font-family: 'Tickerbit';
    src: url('../fonts/Tickerbit-regular.woff2') format('woff2'),
        url('../fonts/Tickerbit-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tickerbit-Italic';
    src: url('../fonts/Tickerbit-italic.woff2') format('woff2'),
        url('../fonts/Tickerbit-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Keyframes */
@keyframes particle-flicker {

    0%,
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }

    25% {
        opacity: 0.5;
        transform: translate(25%, 0);
    }

    50% {
        opacity: 0.8;
        transform: translate(50%, 0);
    }

    75% {
        opacity: 0.4;
        transform: translate(75%, 0);
    }
}

@keyframes highlight-flicker {
    0% {
        color: var(--computer-green);
    }

    50% {
        color: var(--light-computer-green);
    }

    100% {
        color: var(--computer-green);
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Global Styles */
*,
*::-moz-selection,
*::selection,
*::-webkit-selection {
    cursor: var(--default-cursor);
    font-family: 'Tickerbit', sans-serif;
}

::selection {
    color: var(--white);
    background-color: var(--black);
}

body {
    background: #303030;
    margin: 0;
}

/* Elements with the .particle class */
.particle {
    animation: particle-flicker 1s infinite;
    background: var(--light-grey);
    height: 1px;
    opacity: 0;
    position: fixed;
    width: 1px;
}

/* Elements with the .about class */
.about {
    background-color: var(--white);
    box-shadow: 10px 0px 10px #949494;
    font-size: 1.5rem;
    margin: 1in;
    opacity: 0;
    padding: 1in;
    transition: opacity 0.5s;
}

/* Elements with the .resume class */
.resume {
    background-color: var(--white);
    box-shadow: 10px 0px 10px #949494;
    color: var(--black);
    font-weight: 400;
    margin: 1in;
    opacity: 0;
    padding: 1in;
    transition: opacity 0.5s;
}

.resume p {
    font-size: calc(var(--paragraph) * 0.5);
}

.resume-list {
    list-style-type: none;
    padding-left: 20px;
}

.resume-list li:before {
    content: "\2022";
    font-size: calc(var(--paragraph) * 0.5);
    margin-right: 10px;
}

.resume-list li {
    font-size: calc(var(--paragraph) * 0.5);
}

.resume-title {
    font-size: calc(var(--title) * 0.5);
    font-weight: 600;
    text-shadow: 2px 0px 2px var(--light-grey);
}

.resume-header {
    border-bottom: 12px solid black;
    font-size: calc(var(--header) * 0.5);
    font-weight: 600;
    text-shadow: 2px 0px 2px var(--light-grey);
}

.resume-sub-header {
    font-size: calc(var(--header) * .5);
    font-weight: 500;
}

/* Elements with the .section class */
.section {
    color: white;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s;
    width: 100%;
}

/* Social Media Icons */
.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* Images with the .shadow class */
.shadow img {
    margin-bottom: 10px;
    margin-right: 30px;
    transition: .5s ease;
    width: 60px;
    cursor: var(--pointer-cursor);
}

.shadow img:hover {
    -webkit-transform: translateX(-3px);
    box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737, 5px 5px #373737, 6px 6px #373737;
    transform: translateX(-3px);
    transition: .5s ease;
}

/* Elements with the .date-row class */
.resume-date-row {
    display: flex;
    font-size: calc(var(--paragraph) * 0.5);
    justify-content: space-between;
}

.resume-date-row p {
    font-family: 'Tickerbit-Italic', sans-serif;
}

/* Elements with the .language-logos class */
.language-logos {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}

.language-logos img {
    height: auto;
    margin-bottom: 20px;
    margin-right: 10px;
    max-width: 50%;
}

/* Resume Button Container */
.resume-button-container {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 999;
}

.resume-button-container a {
    background-color: var(--white);
    color: red;
}

/* Main Title */
.main-title {
    font-size: var(--title);
    font-weight: 600;
    margin: 5% 0;
    text-shadow: 1px 1px 1px var(--grey),
        1px 2px 1px var(--grey),
        1px 3px 1px var(--grey),
        1px 4px 1px var(--grey),
        1px 5px 1px var(--grey),
        1px 6px 1px var(--grey),
        1px 7px 1px var(--grey),
        1px 8px 1px var(--grey),
        1px 9px 1px var(--grey),
        1px 10px 1px var(--grey);
}

/* Main Header */
.main-header {
    font-size: var(--header);
    font-weight: 600;
    margin: 5% 0;
}

/* Main Paragraph Text */
.main-paragraph-text {
    font-size: var(--paragraph);
}

/* Main Balance Sheet Table Header */
.main-balance-sheet-table-header {
    width: 100%;
}

/* Main Balance Sheet Container */
.main-balance-sheet-container {
    margin: 0 5%;
    max-height: 500px;
    overflow-y: auto;
}

/* Main Balance Sheet Table */
.main-balance-sheet-table {
    background-color: inherit;
    border-collapse: collapse;
    font-size: var(--table-text);
    width: 100%;
}

.main-balance-sheet-table th {
    background-color: inherit;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    color: var(--white);
    padding: 1%;
    text-align: left;
}

.main-balance-sheet-table tr {
    background-color: inherit;
    color: var(--white);
}

.main-balance-sheet-table tr:hover {
    color: #54aa18;
    text-shadow: 0 0 5px rgba(84, 170, 24, 0.7);
}

.main-balance-sheet-table tr:nth-child(even) {
    background-color: #303030;
}

.main-balance-sheet-table td {
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    padding: 1%;
}

.main-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-list li {
    font-size: var(--paragraph);
    padding-left: 2.5%;
    padding: 1%;
    position: relative;
}

.main-list li::before {
    color: var(--white);
    content: '\2022';
    font-size: var(--paragraph);
    left: 0%;
    position: absolute;
}

.main-list span {
    animation: highlight-flicker 2.5s infinite;
    text-shadow: 0 0 5px rgba(84, 170, 24, 0.7);
}

.container {
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.container img {
    height: auto;
    width: 100%;
}

.jupyter-code-block {
    background-color: inherit;
    border: 1px solid var(--white);
    font-size: var(--paragraph);
    overflow-x: auto;
    padding: 1%;
    position: relative;
}

.copy-button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: var(--paragraph);
    position: absolute;
    right: 1%;
    top: 1%;
}

.scrolling-text {
    font-size: var(--paragraph);
    overflow: hidden;
    position: relative;
    visibility: hidden;
}

.scrolling-text-temporary-shadow {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.cursor {
    animation: blink 1s infinite;
    background-color: var(--white);
    display: inline-block;
    height: var(--paragraph);
    margin-left: 1%;
    width: 1rem;
}

.email-form div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5% 0;
}

.email-form label {
    flex: 1;
    font-size: var(--paragraph);
}

.email-form input {
    font-size: var(--paragraph);
    height: 50px;
    width: 30%;
}

.email-form textarea {
    font-size: var(--paragraph);
    height: 150px;
    width: 100%;
}

.email-form input,
textarea {
    background-color: white;
    border-radius: 0;
    border: 5px solid transparent;
    color: #000;
    padding: 5px;
    resize: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: var(--pointer-text);
}

.email-form input:hover,
textarea:hover {
    background-color: var(--white);
    border-color: #54aa18;
    box-shadow: 0 0 5px #54aa18;
}

.email-form input:focus,
textarea:focus {
    outline: none;
}

.email-form button {
    height: fit-content;
    width: fit-content;
}

.email-form h1 {
    font-size: var(--header);
}

.flashes {
    background-color: var(--white);
    color: var(--black);
    display: none;
    left: 0;
    padding: 10px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

.flashes.show {
    display: block;
}

.pixel-container {
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
    flex-shrink: 0;
}

.pixel-container img {
    border: 10px solid var(--white);
    box-sizing: border-box;
}

.pixel-image {
    width: 100%;
    height: 100%;
    transition: opacity 2s ease;
    image-rendering: pixelated;
}

.pixel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 2s ease;
}

.pixel-container:hover .pixel-image {
    opacity: 0;
}

.pixel-container:hover .pixel-overlay {
    opacity: 1;
}