* {
    scrollbar-width: thin;
    scrollbar-color: rgb(146, 146, 146) #303030;
}

* {
    scrollbar-track-color: #303030;
}

* {
    scrollbar-face-color: #020202;
    scrollbar-shadow-color: #303030;
    scrollbar-highlight-color: #303030;
    scrollbar-3dlight-color: #303030;
    scrollbar-darkshadow-color: #303030;
}

*::-webkit-scrollbar {
    width: 12px;
    border-radius: 20px;
}

*::-webkit-scrollbar-track {
    background: #303030;
}

*::-webkit-scrollbar-thumb {
    background-color: #020202;
    border-radius: 50px;
    border: 3px solid #303030;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}