.spinner {
  display: flex;
  align-items: center;
  margin: 10%;
}

.square {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-color: #ffffff;
  animation: grow .5s linear infinite;
  opacity: 0;
}

#square1 {
  animation-delay: 0s;
}

#square2 {
  animation-delay: .25s;
}

#square3 {
  animation-delay: .50s;
}

@keyframes grow {
  0%, 100% {
    transform: scale(1);
    opacity: 0;
  }

  16.67%, 33.33% {
    transform: scale(1.3);
    opacity: 1;
  }

  100%, 116.67% {
    transform: scale(1);
    opacity: 0;
  }
}
