{% extends "layout.html" %}
{% block content %}

Oct 5

The Long Haul

<p>
    I was born in Austin, Texas, the son of a game designer and a nurse. I find playing guitar more useful in life than many things I have learned in school. 
    The intense feelings of satisfaction derived from the frustration of failing a song only to overcome is an experience everyone should strive to achieve. 
    It is a solo instrument, and yet one that can and should require teamwork from time to time. It is easy to pick up, but incredibly arduous to master. 
</p>
<p>
    I find art incredibly interesting, and the design, color, space, and overall context of a piece is like a puzzle for us to figure out. 
    I also enjoy body building, another type of art that requires sculpture of the body. 
    Crafting a body or mind takes grit, determination, and supreme confidence that you and only you can figure out the path. 
</p>
<p>
    My life has been an experiment in cutting corners. To do what others think is not possible. 
    I am not talented; I just have high standards. I am not smart; I am just curious. I am not lazy; I just work smart. 
    I see things others may not notice from the outset. I see implications in actions that others may not see. 
    Every action carries some consequence.
</p>
<p>
    Some things I have learned throughout my career as a financial engineer as an adaptation of Nike’s Ten Commandments:
</p>
<ul>
    <li>1.	Engineers may struggle with tiny defects.</li>
    <li>2.	You must understand your own code.</li>
    <li>3.	You are always a work in process.</li>
    <li>4.	It will get ugly.</li>
    <li>5.	Business is change, embrace it.</li>
    <li>6.	Be scrappy.</li>
    <li>7.	You know nothing.</li>
    <li>8.	Money is means to an end, not the end.</li>
    <li>9.	Never lie.</li>
    <li>10.	 Always give it your all.</li>
</ul>

{% end content %}