{% extends "layout.html" %}
{% block content %}

<div class="section" id="section1" style="background-color: #303030;">
    {% include "sections/intro.html" %}
</div>
<div class="section" id="section2" style="background-color: #202020;">
    {% include "sections/about.html" %}
</div>
<div class="section" id="section3" style="background-color: #101010;">
    {% include "sections/stock.html" %}
</div>
<div class="section" id="section4" style="background-color: #080808;">
    {% include "sections/connect.html" %}
</div>
<div class="section" id="section5" style="background-color: #040404;">
    {% include "sections/contact.html" %}
</div>

{% endblock %}