<!DOCTYPE html>
<html lang="html">

<head>
    <title>Sam Adams Personal Website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/btn.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pushbar.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.css">
</head>

<body>

    <aside data-pushbar-id="top" data-pushbar-direction="top">
		<div class="title"><span data-pushbar-close class="close push_right"></span>Links</div>
		<ul class="menu">
			<li><a href="{{ url_for('home') }}">Home</a></li>
			<li>About</li>
			<li>Projects</li>
			<li>Resume</li>
			<li>Github</li>
		</ul>
	</aside>

    <div class="button-container"><button class="button-54" data-pushbar-target="top">Links</button></div>

    <main class="pushbar_main_content">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    </footer>

</body>

<!-- Import Scripts -->
<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.js"></script>

<!-- Source Scripts-->
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>

</html>