{% extends "layout.html" %}
{% block content %}

<title>{{ title }}</title>

<div class="resume-button-container">
    <a href="{{ url_for('main.download_pdf') }}" class="button-54" download>
        <i class="fas fa-download"></i>
    </a>
</div>

<div class="resume">
    <h1 class="resume-title">Samuel Grant Adams</h1>
    <div class="social-media-icons">
        <div class="shadow"><img src="{{ url_for('static', filename='images/mail.jpg') }}" alt="Social Media Image">
        </div>
        <div class="shadow"><img src="{{ url_for('static', filename='images/facebook.jpg') }}" alt="Social Media Image">
        </div>
        <div class="shadow"><img src="{{ url_for('static', filename='images/instagram.png') }}"
                alt="Social Media Image"></div>
        <div class="shadow"><img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="Social Media Image">
        </div>
    </div>
    <h1 class="resume-header">Financial Analyst</h1>
    <p>Well-motivated, self-driven, and service oriented. Strong analytical,
        quantitative, critical thinking and problem-solving skills.
        Proactive; internal drive to meet goals continuously and successfully.
        Solid
        grasp of tools for analyzing data. Ability to
        interface and communicate with all levels of staff and management.
        Demonstrated attention to detail, sense of urgency, and
        ability to learn quickly. Able to work within and meet aggressive
        deadlines
        in a fast paced, changing, high energy
        environment. High integrity. Core competencies:
    </p>

    <table>
        <tr>
            <td>DCF Modeling</td>
            <td>Equity Research</td>
            <td>Fixed-Income Analysis</td>
        </tr>
        <tr>
            <td>Data Science</td>
            <td>Dev Ops</td>
            <td>Natural Language Processing</td>
        </tr>
        <tr>
            <td>Texas Government Code</td>
            <td>Legislative Procedures</td>
            <td>Public Speaking</td>
        </tr>
    </table>

    <h2 class="resume-header">Education</h2>
    <div class="resume-date-row">
        <div>M.S., MSQFE; McCoy School of Business; Texas State University</div>
        <div>8/2022 – 5/2024</div>
    </div>
    <div class="resume-date-row">
        <div>B.S., Finance; The University of Texas at Dallas</div>
        <div>8/2018 – 5/2021</div>
    </div>

    <h2 class="resume-header">Professional Experience</h2>
    <div class="resume-date-row">
        <div class="resume-header2">Texas Bond Review Board</div>
        <div class="resume-header2">Austin, Texas</div>
    </div>
    <div class="resume-date-row">
        <p>Financial Analyst</p>
        <p>5/2022 – present</p>
    </div>

    <ul class="resume-list">
        <li>Crafted triggers, tables, and queries for smss Database</li>
        <li>Crafted Annual Report for Texas House of Legislature</li>
        <li>Crafted Flask web applications for bond counsel data portal and data visualization</li>
        <li>Curated SMSS SQL Database</li>
        <li>Created NLP software to extract data from web forms</li>
    </ul>
    <div class="resume-date-row">
        <div class="resume-header2">Municipal Advisory Council of Texas (M.A.C.) </div>
        <div class="resume-header2">Austin, Texas</div>
    </div>
    <div class="resume-date-row">
        <p>Financial Analyst</p>
        <p>4/2022 – 11/2022</p>
    </div>
    <ul class="resume-list">
        <li>Fixed-income, derivatives, and property analysis</li>
        <li>Automated key process from one year to single executable task</li>
        <li>Produced Texas Municipal Reports for public finance municipal market</li>
    </ul>
    <div class="resume-date-row">
        <div class="resume-header2">Binkley & Barfield, Inc</div>
        <div class="resume-header2">Houston, Texas</div>
    </div>
    <div class="resume-date-row">
        <p>Accounting Intern</p>
        <p>6/2021 – 4/2022</p>
    </div>
    <ul class="resume-list">
        <li>Increased efficiency of accounting cycle for payables with coding automation</li>
        <li>Processed invoices, collections, and financial reports</li>
        <li>Provided financial planning and analysis</li>
    </ul>
    <h2 class="resume-header">College Extracurriculars</h2>
    <ul class="resume-list">
        <li>CFA Challenge (MSQFE)</li>
        <li>President, University of Texas Financial Literacy Club</li>
        <li>Psi Zeta Chapter of the Chi Phi Fraternity</li>
        <li>Business Professional of America</li>
        <li>President of Toastmasters</li>
    </ul>

    <h2 class="resume-header">Community Experience</h2>
    <div class="resume-date-row">
        <div class="resume-header2">North Texas Entrepreneur Education and Training</div>
        <div>Dallas, Texas </div>
    </div>
    <div class="resume-date-row">
        <p>Volunteer Team Leader, Financial Budgeting and Forecasting</p>
        <p>5/2021 – 8/2021</p>
    </div>
    <ul class="resume-list">
        <li>Provided financial forecasting and accounting for projects. Prepare and analyze financial reports</li>
        <li>Collaborated with management on presenting financial statements to the City of Dallas</li>
        <li>Monitored and analyzed financial, statistical, and operational data trends</li>
    </ul>
    <h2 class="resume-header">Techinical Skills</h2>

    <h3 class="resume-sub-header">General Purpose</h3>
    <!-- General Production -->
    <div class="language-logos">
        <div><img src="{{ url_for('static', filename='images/language-logos/C.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/C++.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/C#.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/Git.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/Rust.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/SQL.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/VBA.svg') }}" alt="Language Logo Image">
        </div>
    </div>

    <h3 class="resume-sub-header">Web Development</h3>
    <!-- Web Languages -->
    <div class="language-logos">
        <div><img src="{{ url_for('static', filename='images/language-logos/JS.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/TS.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/HTML.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/CSS.svg') }}" alt="Language Logo Image">
        </div>
    </div>

    <h3 class="resume-sub-header">Data Science</h3>
    <!-- Data Science -->
    <div class="language-logos">
        <div><img src="{{ url_for('static', filename='images/language-logos/Julia.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/Scala.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/Perl.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/Python.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/R.svg') }}" alt="Language Logo Image">
        </div>
    </div>

    <h3 class="resume-sub-header">Applications</h3>
    <!-- Apps -->
    <div class="language-logos">
        <div><img src="{{ url_for('static', filename='images/language-logos/Stata.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/Tableau.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/Photoshop.svg') }}"
                alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/Illustrator.svg') }}"
                alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/InDesign.svg') }}"
                alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/Excel.svg') }}" alt="Language Logo Image">
        </div>
        <div><img src="{{ url_for('static', filename='images/language-logos/Power BI.svg') }}"
                alt="Language Logo Image">
        </div>
    </div>

    <h2 class="resume-header">Professional Designations</h2>
    <ul class="resume-list">
        <li>SIE</li>
        <li>Series 63</li>
    </ul>
</div>

{% endblock %}