* {
    cursor: url("/static/images/cursors/arrow.cur"), default;
}

*::-moz-selection {
    background-color: #333333;
    color: #ffffff;
}

*::selection {
    background-color: #333333;
    color: #ffffff;
}

*::-webkit-selection {
    background-color: #333333;
    color: #ffffff;
}

body {
    font-family: Garamond, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

body.animate-dropdown h1,
body.animate-dropdown h2,
body.animate-dropdown p,
body.animate-dropdown .container,
body.animate-dropdown .section {
    opacity: 1;
    transform: translateY(0);
}

body.animate-dropdown table tr {
    opacity: 1;
    transform: translateY(0);
}

body.animate-dropdown ul.custom-list li {
    opacity: 1;
    transform: translateY(0);
}

body:hover {
    cursor: url("/static/images/cursors/link.cur"), pointer;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

h1,
h2 {
    margin-bottom: 1rem;
    opacity: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transform: translateY(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

nav {
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

nav a {
    color: #333;
    font-family: Georgia, serif;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: #000;
}

nav li {
    margin-right: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    background-color: #f7f7f7;
    color: #333;
    font-weight: 400;
    margin-left: .5in;
    margin-right: .5in;
    padding-left: .5in;
    padding-right: .5in;
}

p,
.container,
.section {
    opacity: 0;
    transform: translateY(-50%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

table {
    border-collapse: collapse;
    margin-top: .5in;
    width: 100%;
}

table td,
table th {
    margin: 10px;
    padding: 4px;
}

table td:hover,
table th:hover {
    background-color: #e6e6e6;
    color: #949494;
    font-weight: 600;
}

table tr {
    opacity: 0;
    transform: translateY(-50%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.resume-list {
    list-style-type: none;
    padding-left: 20px;
}

ul.resume-list li:before {
    content: "\2022";
    font-size: 20px;
    margin-right: 10px;
}