* {
    cursor: url("/static/images/cursors/arrow.cur"), default;
}

*::-moz-selection {
    background-color: #333333;
    color: #ffffff;
}

*::selection {
    background-color: #333333;
    color: #ffffff;
}

*::-webkit-selection {
    background-color: #333333;
    color: #ffffff;
}

body {
    font-family: Garamond, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

div.post-animated-drawdown>* {
    opacity: 1;
    transform: translateY(10px);
    transition: transform 0.70s ease, opacity 0.5s ease;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

h1,
h2 {
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 40px;
}

nav {
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

nav a {
    color: #333;
    font-family: Georgia, serif;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: #000;
}

nav li {
    margin-right: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    background-color: #f7f7f7;
    color: #333;
    font-weight: 400;
    margin-left: .5in;
    margin-right: .5in;
    padding-left: .5in;
    padding-right: .5in;
}

p.resume-sub-header1 {
    font-weight: 600;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    margin-top: .5in;
    width: 100%;
}

table td,
table th {
    margin: 10px;
    padding: 4px;
}

table td:hover,
table th:hover {
    background-color: #e6e6e6;
    color: #949494;
    font-weight: 600;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.resume-list {
    list-style-type: none;
    padding-left: 20px;
}

ul.resume-list li:before {
    content: "\2022";
    font-size: 20px;
    margin-right: 10px;
}

.mini-navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin: 5px 0;
    cursor: pointer;
}